/* Убираем шапку и подвал при печати */
@media print {
  .header,
  .footer {
    display: none;
  }

  /* Оставляем только название сайта, заголовок и содержимое */
  body {
    font-family: "Times New Roman", Georgia, Palatino, serif;
    color: #000;
    background-color: #fff;
  }

  .container {
    margin: 0 auto;
    padding: 0;
  }

  /* Удаление фоновых изображений и цветов */
  * {
    background: none !important;
    color: black !important;
  }

  /* Выводим полный URL взамен гиперссылок */
  a::after {
    content: " (" attr(href) ")";
  }

  /* Устанавливаем поля при печати */
  @page {
    margin: 50px;
  }
}
